<li id="<%= feed_item.id %>">
  <div class="image">
    <%= link_to image_tag(feed_item.user.image.url, :class => 'user_image'), feed_item.user %>
  </div>
  <div class="info">
    <span class="title"><%= link_to feed_item.title, feed_item %></span>
    <span class="user"><%= link_to feed_item.user.name, feed_item.user %></span>
    <span class="content"><%= feed_item.content %></span>
    <span class="tags"><%= feed_item.tags %></span>
    <span class="timestamp">
      <%= t "feed_item.posted" %> <%= time_ago_in_words(feed_item.created_at) %> <%= t "feed_item.ago" %> <%= t "feed_item.in" %> <%= link_to feed_item.city, projects_path + "?utf8=✓&src=city&search=" + feed_item.city %>.
    </span>
    <% if current_user?(feed_item.user) %>
      <%= link_to t("feed_item.delete"), feed_item, method: :delete,
                                      data: { confirm: t("confirm.sure") },
                                      title: feed_item.content %>
    <% end %>
  </div>
</li>