<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.text_area :content, placeholder: "Tell us more about this project..." %>
    <%= f.text_field :tags, placeholder: "Enter tags separated by '#' (#hunger #art ...)" %>
  </div>
  <%= f.submit "Create", class: "btn btn-large btn-primary" %>
<% end %>