<% @user ||= current_user %>
<div class="stats">
  <a href="<%= joined_projects_user_path(@user) %>">
    <strong id="projects" class="stat">
      <%= @user.joined_projects.count %>
    </strong>
    <span id="projects_label"><%= pluralize_without_count(@user.joined_projects.count, t("stats.projects")) %></span>
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    <span id="following_label"><%= t "stats.following" %></span>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <span id="followers_label"><%= pluralize_without_count(@user.followers.count , t("stats.followers")) %></span>
  </a>
</div>