<li>
  <span class="title"><%= link_to project.title, project %></span>
  <span class="content"><%= project.content %></span>
  <span class="city"><%= project.city %></span>
  <span class="tags"><%= project.tags %></span>
  <span class="timestamp">
    <%= t "feed_item.posted" %> <%= time_ago_in_words(project.created_at) %> <%= t "feed_item.ago" %> <%= t "feed_item.in" %> <%= link_to project.city, project.user %>.
  </span>
  <% if current_user?(project.user) %>
    <%= link_to t("feed_item.delete"), project, method: :delete,
                                     data: { confirm: t("confirm.sure") },
                                     title: project.content %>
  <% else %>
  <%= render 'projects/join_feed_form' if signed_in? %>
  <% end %>
</li>